.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /**padding-top: 12%;*/
}

.googleMapAutoComplete {
  display: flex;
  position: absolute;
  top:5%;
  width: 484px;
  border-radius: 8px;
  background-color: white;
}

.search-location-input {
  display: flex;
  position: absolute;
  top:5%;
  width: 484px;
  border-radius: 24px;
  border: 1px solid #d8d8d8;
}

.search-location-input:focus-within {
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-location-input:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-location-input input {
  height: 32px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  border-radius: 24px;
}

.search-location-input input:focus {
  outline: none;
}
.pac-container.pac-logo.hdpi {
  padding: 8px 12px;
  border-radius: 24px;
}

.pac-container.pac-logo.hdpi:first-child{
  border-top: 0px solid #e6e6e6;
}

